<h1>Edit Pin</h1>
<%= form_for @pin, :html => { :multipart => true }  do |f| %>
  <%= render 'errors' %>
  <div>
    <%= f.label "Board Name" %>
    <%= f.select :board_id, @boards.collect{ |b| [b.name, b.id] } %>
    <%= image_tag(@pin.image.url(:medium)) %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= link_to "Delete", @pin, method: :delete, data: { confirm: 'Are you sure?' }   %>
    <%= link_to "Cancel", pin_path %>
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
