<h1>New Pin</h1>
<%= form_for @pin, :url => board_pins_path(@pin.board_id), :html => { :multipart => true }  do |f| %>
  <%= render 'errors' %>
  <div>
    <%= f.label "Board" %>
    <%= f.select :board_id, @boards.collect { |b| [b.name, b.id ]}  %>
  </div>
  <div>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= link_to "Close", board_path(@pin.board_id) %>
    <%= f.submit "Pin it" %>
  </div>
<% end %>
