<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %>
        prohibited this board from being saved:</h2>
      <ul>
        <% @board.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %><br>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.select :category, :options => ["Food", "Travel", "Fashion", "Others"] %>
  </div>
  <div>
    <%= link_to "Cancel", dashboard_path %>
    <%= f.submit %>
  </div>
<% end %>
