<div class="row">
  <% if member_signed_in? %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag("/assets/images/create_board.png"), new_board_path %>
      </div>
    </div>
  <% end %>
  <% unless @boards.nil? %>
    <% @boards.each do |board| %>
      <% pincount = board.pins.size %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= link_to board.name, board %></h3>
            <p><%= pincount %>
              Pins</p>
            <p>
              <% if pincount > 0 %>
                <%= link_to board do %>
                  <%= image_tag board.pins.first.image.url(:medium) %>
                <% end %>
              <% else %>
                <%= image_tag "/avatars/original/missing.png" %>
              <% end %>
              <% if member_signed_in? %>
                <div>
                  <%= link_to edit_board_path(board) do %>
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                  </div>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
