<div class="pt_edit_board_pin pt_bg_color center-block">
  <h2 class="pt_center pt_heading">Edit Board</h2>
  <%= form_for(@board, :class => "form-horizontal") do |f| %>
    <%= render 'errors' %>
    <div class="form-group">
      <%= f.label :name, :class => "col-sm-4 control-label" %>
      <%= f.text_field :name %><br>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => "col-sm-4 control-label" %>
      <%= f.text_area :description, :rows => 3, cols: 30 %><br>
    </div>
    <div class="form-group">
      <%= f.label :category, :class => "col-sm-4 control-label" %>
      <%= f.select :category, ["Others", "Food", "Travel", "Fashion"] %>
    </div>
    <div class="form-group">
      <%= link_to "Delete Board", @board, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default col-sm-offset-1"   %>
      <%= link_to "Cancel", board_path(@board), :class => "btn btn-default" %>
      <%= f.submit "Save Changes", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
