<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<%= link_to 'Add a Pin', new_board_pin_path(@board.id) %>

<%# render "pins/index" %>

<% unless @pins.nil? %>
  <% @pins.each do |pin| %>
    <div>
      <%= link_to pin.description, pin %>
      <%= link_to 'Edit', edit_pin_path(pin) %>
      <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>


<%= link_to 'Edit Board', edit_board_path(@board) %> |
<%= link_to 'Back', dashboard_path %>