<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<%= link_to 'Create a Pin', new_pin_path %>

<%= render "pins/index" %>

<%= link_to 'Edit Board', edit_board_path(@board) %> |
<%= link_to 'Back', dashboard_path %>