<p>
  <%= @board.name %>
</p>
<p>
  <%= @board.description %>
</p>
<div>
  <%= link_to image_tag(@board.member.avatar.url(:thumb)), dashboard_path(id: @board.member.membername)%>
  <%= @board.member.fullname %>
</div>
<% if member_signed_in? %>
  <%= link_to 'Edit Board', edit_board_path(@board) %>
<% end %>
<%= @board.pins.size %>
Pins
<div>
  <% if member_signed_in? %>
    <%= link_to 'Add a Pin', new_board_pin_path(@board.id) %>
  <% end %>
</div>
<% unless @pins.nil? %>
  <% @pins.each do |pin| %>
    <div>
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <%= link_to pin.description, pin %>
      <% if member_signed_in? %>
        <%= link_to 'Edit', edit_pin_path(pin) %>
      <% end %>
    </div>
  <% end %>
<% end %>
