<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pinteresting</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
