<div>
  <%= image_tag @member.avatar.url %>
  <%= @member.fullname %>
  <%= @member.description %>
  <% if member_signed_in? %>
    <%= link_to 'Edit', edit_member_registration_path %>
  <% end %>
</div>
<div>
  <%= @member.boardcount %>
  Boards
  <%= @member.pincount %>
  Pins
</div>
<% if member_signed_in? %>
  <%= link_to 'Create a Board', new_board_path %>
<% end %>
<%= render 'boards/index' %>
