<div>
  <%= @member.fullname %>
  <%= @member.description %>
  <%= link_to 'Edit', edit_member_registration_path %>
</div>
<div>
  <%= @member.boardcount %> Boards
  <%= @member.pincount %> Pins
</div>
<%= link_to 'Create a Board', new_board_path %>
<%= render 'boards/index' %>