<div>
  <%= @mymember.fullname %>
  <%= @mymember.description %>
  <%= link_to 'Edit', edit_member_registration_path %>
</div>
<div>
  <%= @mymember.boardcount %> Boards
  <%= @mymember.pincount %> Pins
</div>
<%= link_to 'Create a Board', new_board_path %>
